.spinner {
    // background: #ffffff url('assets/img/spinner.gif') no-repeat center;
    z-index: 600;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}